AZURE_STORAGE_CONNECTION_STRING=TEMP
AZURE_CONTAINER_NAME=container_name
DB_HOST=localhost
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase
PORT=8000
DB_SSL=disable
MOBILE_APP_KEY=key
APP_PRIVATE_KEY=key
APP_PUBLIC_KEY=key